body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button {
    display: inline-block;
    border-radius: 30px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 2rem;
    color: gray;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

table,
td {
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 2px;
    padding-left: 2px;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
}

#calculator {
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    padding: 10px;
}

#result {
    background-color: lightblue;
    border: none;
    border-radius: 30px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#e {
    background-color: green;
}

#c {
    background-color: rgb(219, 12, 12);
}

#op {
    color: green;
}

input {
    border-radius: 30px;
    border: none;
    background-color: lightcyan;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}